div(style="text-align: left; border-bottom: 1px dotted #404040;")
    script.
        $("#data").attr('disabled','disabled');
        $("#method").change(function() {
            switch($(this).val()) {
                case "POST":
                    $("#data").attr('disabled','disabled');
                    break;
                case "PUT":
                    $("#data").removeAttr('disabled');
                    break;
                case "DELETE":
                    $("#data").attr('disabled','disabled');
                    break;
            }
        });
        $("#button").click(function() {

            var method = $("#method").val();
            var url = $("#url").val();
            var data = $("#data").val();

            url = url.replace('https://#{ip}:8000/api/store',''); 
            url = "https://#{ip}:8000/api/store" + url;

            var exp = {};

            exp.method = method;
            exp.url = url;
            exp.data = data;
            exp.ip = '#{ip}';

            $.ajax({
                url: "/store",  
                type: 'POST',
                data: JSON.stringify(exp),
                contentType: 'application/json'
            }).done(function(data, status) {

                var obj = JSON.parse(data);

                switch(obj.statusCode) {
                    case '401':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Unauthorized)</span>';
                        break;
                    case '404':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Not found)</span>';
                        break;
                    case '409':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Conflict)</span>';
                        break;
                    case '201':
                        obj.statusCode = '<span style="color:#008E10;">' + obj.statusCode + ' (Created)</span>';
                        break;
                    case '200':
                        obj.statusCode = '<span style="color:#008E10;">' + obj.statusCode + ' (OK)</span>';
                        break;
                }

                $("#status").html("<p>Status: " + obj.statusCode + '</p>');
                $("#jsonTree").html('');
                $("#jsonTree").jsonView(obj.store);

                $("#url").val('');
                $("#data").val('');

            }).fail(function(err){

            });

        });
    | Request :
    br
    select(id="method" name="type" style="width: 80px;font-family: quicksand;")
        option(value="POST") POST
        option(value="PUT") PUT
        option(value="DELETE") DELETE
    br
    br
    | https://#{ip}:8000/api/store : 
    br
    input(id="url" type="text" name="url" style="width: 250px;font-family: quicksand;")
    br
    br
    | Data : 
    br
    input(id="data" type="text" name="data" style="width: 250px;font-family: quicksand;")
    br
    br
    input(id="button" type="submit" value="Execute" style="font-family: quicksand;")
    br
    br
div(id="status")
div(id="jsonTree")
    br
    script.
        $("#jsonTree").jsonView(!{JSON.stringify(store)})