div(style="text-align: left; border-bottom: 1px dotted #404040;")
    script.
        $("#url").removeAttr('disabled');
        $("#data").attr('disabled','disabled');

        $("#method").change(function() {
            switch($(this).val()) {
                case "GET":
                    $("#url").removeAttr('disabled');
                    $("#data").attr('disabled','disabled');
                    break;
                case "POST":
                    $("#url").attr('disabled','disabled');
                    $("#data").removeAttr('disabled');
                    break;
                case "PUT":
                    $("#url").attr('disabled','disabled');
                    $("#data").removeAttr('disabled');
                    break;
                case "DELETE":
                    $("#url").removeAttr('disabled');
                    $("#data").attr('disabled','disabled');
                    break;
            }
        });

        $("#button").click(function() {

            var method = $("#method").val();
            var url = $("#url").val();
            var data = $("#data").val();

            url = url.replace('https://#{ip}:8000/api/v2/store',''); 
            url = "https://#{ip}:8000/api/v2/store" + url;

            var exp = {};

            exp.method = method;
            exp.url = url;
            exp.data = data;
            exp.ip = '#{ip}';

            $.ajax({
                url: "/store",  
                type: 'POST',
                data: JSON.stringify(exp),
                contentType: 'application/json'
            }).done(function(data, status) {

                var obj = JSON.parse(data);

                switch(obj.statusCode) {
                    case '400':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Bad request)</span>';
                        break;
                    case '401':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Unauthorized)</span>';
                        break;
                    case '404':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Not found)</span>';
                        break;
                    case '409':
                        obj.statusCode = '<span style="color:#FF7070;">' + obj.statusCode + ' (Conflict)</span>';
                        break;
                    case '200':
                        obj.statusCode = '<span style="color:#008E10;">' + obj.statusCode + ' (OK)</span>';
                        break;
                    case '201':
                        obj.statusCode = '<span style="color:#008E10;">' + obj.statusCode + ' (Created)</span>';
                        break;
                    case '500':
                        obj.statusCode = '<span style="color:#008E10;">' + obj.statusCode + ' (Server error)</span>';
                        break;
                }

                $("#status").html("<p>Status: " + obj.statusCode + '</p>');
                $("#jsonTree").html('');
                $("#jsonTree").jsonView(obj.store);

                $("#url").val('');
                $("#data").val('');

            }).fail(function(err){

            });

        });

        function enableTab(id) {

            var el = document.getElementById(id);

            el.onkeydown = function(e) {

                if (e.keyCode === 9) { // tab was pressed

                    // get caret position/selection
                    var val = this.value,
                    start = this.selectionStart,
                    end = this.selectionEnd;

                    // set textarea value to: text before caret + tab + text after caret
                    this.value = val.substring(0, start) + '\t' + val.substring(end);

                    // put caret at right position again
                    this.selectionStart = this.selectionEnd = start + 1;

                    // prevent the focus lose
                    return false;

                }

            };

        }

        $('#data').numberedtextarea({
            allowTabChar: true,  // If true Tab key creates indentation
        });

    | Request :
    br
    select(id="method" name="type" style="width: 80px;font-family: quicksand;")
        option(value="GET") GET
        option(value="POST") POST
        option(value="PUT") PUT
        option(value="DELETE") DELETE
    br
    br
    | https://#{ip}:8000/api/v2/store : 
    br
    input(id="url" type="text" name="url" style="width: 250px;font-family: quicksand;")
    br
    br
    | Data : 
    br
    textarea(id="data" type="text" name="data" style="width: 255px; min-width: 255px; height: 100px; min-height: 100px;")   
    br
    input(id="button" type="submit" value="Execute" style="font-family: quicksand;")
    br
    br
div(id="status")
div(id="jsonTree")
    br
    script.
        $("#jsonTree").jsonView(!{JSON.stringify(store)})